body {
    background-color: black;
    overflow-x:hidden;
    overflow-y:hidden;

}


#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }


  .signo{
    color: white;
    z-index: 999;
    position: absolute;
    margin-top:-10%;
    margin-left: 5%;
    font-size: 2vw;
  }

  #indexlogo {
    position: absolute;
    width: 50%;
    z-index: 999;
    margin-left: 20%;
    animation: rotation 6s infinite linear;
  }

  #margin-top {
    margin-top: 20%;
  }

  @keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

@media screen and (min-width: 601px) {
    #indexlogo {
    position: absolute;
    width: 95%;
    z-index: 999;
    margin-left: 13%;
    animation: rotation 6s infinite linear;
  }
    
.signo{
    color: white;
    z-index: 999;
    position: absolute;
    margin-top:1%;
    margin-left: 1%;
    margin:1%;
    font-size: 2vw;
  }
}

